body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

h1 {
  font-weight: 600;
  margin: 0;
}

h3 {
  font-weight: 400;
  max-width: 500px;
}

hr {
  border: 0;
  border-top: 1px solid gray;
  height: 1px;
  width: 100%;
}

.instrux {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 20px 0;
  max-width: 500px;
  text-transform: uppercase;
}

#word-wrapper {
  margin-bottom: 25px;
  width: 300px;

  .spanish span {
    color: #C60B1E;
    font-weight: bold;
  }

  .english {
    margin: 20px 0;

    .blur {
      color: transparent;
      cursor: pointer;
      text-shadow: 0 0 12px rgba(0,0,0,0.5);

      &.show {
        color: unset;
        text-shadow: unset;
      }
    }
  }
}

button {
  background: rgba(158,158,158,.2);
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #000;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin: 0;
  min-width: 64px;
  outline: none;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
